@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap');

:root {
    /**
     * colors
     */

    --light: #F9F9F9;
    --blue: #F45703;
    --light-blue: #CFE8FF;
    --grey: #eee;
    --dark-grey: #AAAAAA;
    --dark: #342E37;
    --red: #DB504A;
    --yellow: #FFCE26;
    --light-yellow: #FFF2C6;
    --orange: #FD7238;
    --light-orange: #FFE0D3;
    /**
     * typography
     */

    --fs-1: 1.563rem;
    --fs-2: 1.375rem;
    --fs-3: 1.25rem;
    --fs-4: 1.125rem;
    --fs-5: 1rem;
    --fs-6: 0.938rem;
    --fs-7: 0.875rem;
    --fs-8: 0.813rem;
    --fs-9: 0.75rem;
    --fs-10: 0.688rem;
    --fs-11: 0.625rem;

    --weight-300: 300;
    --weight-400: 400;
    --weight-500: 500;
    --weight-600: 600;
    --weight-700: 700;

    /**
     * border-radius
     */

    --border-radius-md: 10px;
    --border-radius-sm: 5px;

    /**
     * transition 
     */

    --transition-timing: 0.2s ease;
    --poppins: 'Poppins', sans-serif;
    --lato: 'Lato', sans-serif;
}





/*-----------------------------------*\
    #RESET
  \*-----------------------------------*/